* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

h1 {
    padding-left: 2%;
}

#inputSection {
    border: 2px solid black;
    padding-left: 2%;
    padding-bottom: 2%;
    margin: 2%;
}

#inputSection p {
    margin-top: 10px;
    margin-bottom: 15px;
}

#ballotsSection {
    border: 2px solid black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin: 2%;
}

#graphSection {
    border: 2px solid black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    /* margin: 2%; */
}

#totalsSection {
    border: 2px solid black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    /* margin: 2%; */
    /* width: 40%; */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

table td {
    border: 1px solid lightgray;
    border-bottom: 1px solid black;
    text-align: center;
}

#ballotsSection th {
    border: 2px solid gray;
    font-size: small;
}

#totalsSection th {
    border: 2px solid gray;
    font-size: small;
}